    <div class="row">
      <div class="col-12">
        <hr>
        <div class="form">
         <h3><%= @list.name %> </h3>
         <h3><% @list.bookmarks.each do |bookmark| %> </h3>
          <h3><%= bookmark.movie.title %> </h3>
         <% end %>
        </div>
    </div>
  </div>
</div>
