// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

// Smallest device

a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  font-family: "Fredoka One", cursive;
}

a:hover {
  color: #648686;
  text-decoration: none;
}

.form a {
  color: black;
}

h3,
h1,
h2 {
  color: rgb(47, 43, 71);
  font-family: "Fredoka One", cursive;
}
